@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

body, body * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
}
h1, p {
  font-family: 'Quicksand', sans-serif;
}